@page
@model ResetPasswordConfirmationModel

<div class="border-0 mt-4 text-center">
    <div class="card-header m-lg-0 py-4">
        <div class="row">
            <div class="col-12">
                <h2 class="py-2 text-white text-center">Reset password confirmation</h2>
            </div>
        </div>
    </div>
    <div class="p-4 ">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>