@page
@model ResetPasswordModel

<div class="border-0 mt-4 text-center">
    <div class="card-header m-lg-0 py-4">
        <div class="row">
            <div class="col-12">
                <h2 class="py-2 text-white text-center">Reset password</h2>
            </div>
        </div>
    </div>
    <div class="p-4 ">
        <div class="row">
            <h2>Reset your password.</h2>
            <div class="col-md-12">
                <form class="mx-auto col-10 col-md-8 col-lg-6" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form_group mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="m-sm-2 text-muted"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form_group mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                        <label asp-for="Input.Password" class="m-sm-2 text-muted"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form_group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                        <label asp-for="Input.ConfirmPassword" class="m-sm-2 text-muted"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="button_group">
                        <input class="button w-100" type="submit" value="Reset" name="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
