@model int

<div class="page-header">
    <div class="page-header-content bg_image_header jarallax">
        <div class="container">
            <h1 class="heading">Order Placed Successfully!</h1>
            Your Order Number is : @Model <br /><br />
        </div>
    </div>
    <br />
    <h6 style="color:maroon">Your order has been placed successfullyyy!</h6> <br />
</div>