@using Models.Comment;
@model Contact
	<!-- Page Header -->
	<div class="page-header">
		<div class="page-header-content bg_image_header jarallax">
			<div class="container">
				<h1 class="heading">Contact Us</h1>
			</div>
		</div>
	</div>

	<div class="main-wrapper">
		<div class="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="contact_us">
							<div class="section_header">
								<h2 class="section_title">Keep in Touch</h2>
								<h6 class="section_sub_title">Send us mail if you have anything to suggest</h6>
							</div>
							<form class="contact_form" id="contactForm" asp-action="Contact" method="post">
								<div class="form-container">
									<div class="form-group">
										<input type="text" asp-for="Name" name="name" class="form-control" placeholder="Your Name*" required="">
									</div>
									<div class="form-group">
										<input type="email" asp-for="Email" name="email" class="form-control" placeholder="Your Email Address*" required="">
									</div>
									<div class="form-group">
										<textarea name="message" asp-for="Message" class="form-control" placeholder="Message Here*" required=""></textarea>
									</div>
									<div class="form-group">
										<input class="button" type="submit" value="Send" name="submit">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
@{
	if (TempData["Message"] != null)
	{
		<div class="alert alert-info">
			@TempData["Message"]
		</div>
	}
	ViewData["Title"] = "Contact";
}

<div id="result" class="alert alert-info" style="display:none">

</div>

@section Scripts{
	<script>
		function contactForm() {
			var nameSurname = $("#name").val();
			var email = $("email").val();
			var message = $("message").val();


			var messagge = {
				"name": nameSurname,
				"email": email,
				"message": message
			};
			$.ajax({
				method: "POST",
				url: "/Customer/Home/Contact",
				type: "json",
				data: message,
				success: function (data) {
					document.getElementById("contactForm").reset();
					$("result").show().html("Message was submited succesfully").delay("5000").fadeOut();
				}
						Error: function (err) {
					$("result").show().removeClass("alert-info").addClass("alert-danger").html("Something went wrong! Message was't submitted").delay("9000").fadeOut();
				}
			}
					})
				}
	</script>
}