@model Models.ViewModels.ShopViewModel

	<div class="theme_slider_1">
		<div class="slider_slick">
			<div class="item">
				<div class="slide_item" style="background-image: url('../assets/images/slider/1.jpg');">
					<div class="container">
						<div class="slide_item_content">
							<div class="slide_item_text">Exotic and Delicious</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="slide_item" style="background-image: url('../assets/images/slider/2.jpg');">
					<div class="container">
						<div class="slide_item_content">
							<div class="slide_item_text">Exotic and Delicious</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="slide_item" style="background-image: url('../assets/images/slider/3.jpg');">
					<div class="container">
						<div class="slide_item_content">
							<div class="slide_item_text">Exotic and Delicious</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-wrapper pt_0">
		<div class="section_sm reserve_table bg_image_1">
			<div class="container">
				<div class="section_header">
					<img src="../assets/images/title_border.png" alt="">
					<h2 class="section_title">Reserve Your Table</h2>
					<h6 class="section_sub_title">Book a table in advance to enjoy your time with friends & Family</h6>
				</div>
				<div class="table_reserve_form">
					<form class="reserve_form" action="https://wpthemebooster.com/demo/themeforest/html/hungrybuzz/dark/contact.php" method="post">
						<div class="form-container">
							<div class="form-group">
								<label for="name">Your Name</label>
								<input type="text" id="name" name="name" class="form-control" placeholder="Ex: John Doe" required="">
							</div>
							<div class="form-group">
								<label for="number">No. of Person</label>
								<input type="number" id="number" name="number" class="form-control" placeholder="No. of Person" value="" min="1" required="">
							</div>
							<div class="form-group">
								<label for="date">Date</label>
								<input type="date" id="date" name="date" class="form-control" required="">
							</div>
							<div class="form-group">
								<label for="time">Time</label>
								<input type="time" id="time" name="time" class="form-control" required="">
							</div>
							<div class="button_group">
								<input class="button" type="submit" value="Reserve A Table" name="submit">
							</div>
						</div>
					</form>
				</div>

				<div class="about_us_home">
					<div class="about_us_inner bg_image_10">
						<div class="spin_logo d-none d-lg-block">
							<img src="https://wpthemebooster.com/demo/themeforest/html/hungrybuzz/assets/images/about/layer5.svg" alt="" class="linear_logo">
							<img src="https://wpthemebooster.com/demo/themeforest/html/hungrybuzz/assets/images/about/layer6.svg" alt="" class="circle_logo">
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="section_header">
									<h2 class="section_title">About Us</h2>
									<h6 class="section_sub_title">Hungrybuzz cooks food as a culnery Art</h6>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit
										tempor incididunt ut labore et dolore magna aliqua. Ut en
										ad minim veniam, quis nostrud exercitation ullamco lab
										aliquip ex ea commodo consequat. Penat.
									</p>
									<div class="button_group">
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="about_imgbox">
									<div class="layer_spice_1"><img src="../assets/images/about/layer3.png" alt="" class="src"></div>
									<div class="layer_spice_2"><img src="../assets/images/about/layer4.png" alt="" class="src"></div>
									<img src="../assets/images/about/6.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="video_sec">
			<div class="video-banner bg_image_6">
				<div class="video-content" data-aos="zoom-in" data-aos-duration="1000">Watch Hungrybuzz <span class="video_btn"><a data-fancybox="video" href="http://www.youtube.com/watch?v=opj24KnzrWo"><img src="../assets/images/play_btn.png" alt=""></a></span> Cooking Videos</div>
			</div>
		</div>

		<div class="section_sm bg_image_7">
				<div class="grillman_imgtext light">
					<img src="../assets/images/about/grillman.png" alt="" data-aos="fade-up" data-aos-duration="1000">
					<p>Hungrybuzz Restaurant</p>
				</div>
			</div>
		</div>
		<div class="section speciality bg_image_9">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7">
						<div class="speciality_square">
							<div class="speciality_item" data-aos="fade-down-right" data-aos-duration="3000">
								<div class="frontend">
									<img src="../assets/images/about/icon1.png" alt="">
									<h6>Finest Chef</h6>
								</div>
								<div class="backend" style="background-image: url('../assets/images/about/7.jpg');">
									<h5>Finest Chef</h5>
									<p>
										Lorem ipsum dolor sit amet  elit
										consectetur adipiscing condem incididu
										ut labore et dolore magna aliqua.
										ad minim veniam
									</p>
								</div>
							</div>
							<!---->
							<div class="speciality_item" data-aos="fade-down-left" data-aos-duration="3000">
								<div class="frontend">
									<img src="../assets/images/about/icon2.png" alt="">
									<h6>Beautiful Ambience</h6>
								</div>
								<div class="backend" style="background-image: url('../assets/images/about/8.jpg');">
									<h5>Beautiful Ambience</h5>
									<p>
										Lorem ipsum dolor sit amet  elit
										consectetur adipiscing condem incididu
										ut labore et dolore magna aliqua.
										ad minim veniam
									</p>
								</div>
							</div>
							<!---->
							<div class="speciality_item" data-aos="fade-up-right" data-aos-duration="3000">
								<div class="frontend">
									<img src="../assets/images/about/icon3.png" alt="">
									<h6>Sea Food Takeout</h6>
								</div>
								<div class="backend" style="background-image: url('../assets/images/about/9.jpg');">
									<h5>Sea Food Takeout</h5>
									<p>
										Lorem ipsum dolor sit amet  elit
										consectetur adipiscing condem incididu
										ut labore et dolore magna aliqua.
										ad minim veniam
									</p>
								</div>
							</div>
							<!---->
							<div class="speciality_item" data-aos="fade-up-left" data-aos-duration="3000">
								<div class="frontend">
									<img src="../assets/images/about/icon4.png" alt="">
									<h6>Famous Cuisines</h6>
								</div>
								<div class="backend" style="background-image: url('../assets/images/about/10.jpg');">
									<h5>Famous Cuisines</h5>
									<p>
										Lorem ipsum dolor sit amet  elit
										consectetur adipiscing condem incididu
										ut labore et dolore magna aliqua.
										ad minim veniam
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5">
						<div class="section_header">
							<h2 class="section_title">Our Speciality</h2>
							<h6 class="section_sub_title">See our glorious journey as a restaurant</h6>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing
								tempor incididunt ut labore et dolore magna aliqua. Ut
								ad minim veniam, quis nostrud exercitation ullamco
								aliquip ex ea commodo c.
							</p>
							<div class="button_group">
								<a class="button" href="#">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="banner_1 bg_image_2 jarallax">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<img src="../assets/images/baking.png" alt="">
							<h3>Special Baking Class  9.00am </h3>
							<h6>
								Famous Bakers from around the worls will take cooking workshop. Si its an opportunity for you
								to join & learn culnery Arts. And make delicious food in your kitchen
							</h6>
							<div class="button_group">
								<a class="button" href="#">Join Baking Class</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="blog_grid section_sm home_blog">
			<div class="container">
				<div class="section_header">
					<img src="../assets/images/title_back.png" alt="">
					<h2 class="section_title">Latest Food Blogs</h2>
					<h6 class="section_sub_title">Read our restaurant food blogs to get tips & tricks of cooking</h6>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<article class="blog_post">
							<div class="post_img">
								<img src="../assets/images/blog/1.jpg" alt="blog">
								<div class="calendar">
									<a href="#">Aug <br> <span class="date">06</span></a>
								</div>
							</div>
							<div class="post_content">
								<div class="post_header">
									<div class="metalist">
										<span class="author"><a href="#">Dessert - By Zoyena Ross</a></span>
									</div>
									<h3 class="post_title">
										<a href="blog-details.html">Bread Jam Fusion</a>
									</h3>
								</div>
								<div class="post_intro">
									<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
								</div>
								<div class="post_footer">
									<div class="read_more">
										<a href="blog-details.html">See More</a>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-lg-3 col-md-4">
						<article class="blog_post">
							<div class="post_img">
								<img src="../assets/images/blog/2.jpg" alt="blog">
								<div class="calendar">
									<a href="#">Aug <br> <span class="date">06</span></a>
								</div>
							</div>
							<div class="post_content">
								<div class="post_header">
									<div class="metalist">
										<span class="author"><a href="#">Dessert - Jacob Johnson</a></span>
									</div>
									<h3 class="post_title">
										<a href="blog-details.html">How to start food vlog</a>
									</h3>
								</div>
								<div class="post_intro">
									<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
								</div>
								<div class="post_footer">
									<div class="read_more">
										<a href="blog-details.html">See More</a>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-lg-3 col-md-4">
						<article class="blog_post">
							<div class="post_img">
								<img src="../assets/images/blog/3.jpg" alt="blog">
								<div class="calendar">
									<a href="#">Aug <br> <span class="date">06</span></a>
								</div>
							</div>
							<div class="post_content">
								<div class="post_header">
									<div class="metalist">
										<span class="author"><a href="#">Dessert - By Parker Noel</a></span>
									</div>
									<h3 class="post_title">
										<a href="blog-details.html">Fod serving art tips</a>
									</h3>
								</div>
								<div class="post_intro">
									<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
								</div>
								<div class="post_footer">
									<div class="read_more">
										<a href="blog-details.html">See More</a>
									</div>
								</div>
							</div>
						</article>
					</div>

					<div class="col-lg-3 col-md-4">
						<article class="blog_post">
							<div class="post_img">
								<img src="../assets/images/blog/4.jpg" alt="blog">
								<div class="calendar">
									<a href="#">Aug <br> <span class="date">06</span></a>
								</div>
							</div>
							<div class="post_content">
								<div class="post_header">
									<div class="metalist">
										<span class="author"><a href="#">Dessert - By Austin Ryan</a></span>
									</div>
									<h3 class="post_title">
										<a href="blog-details.html">Misnighr Snack Bars</a>
									</h3>
								</div>
								<div class="post_intro">
									<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
								</div>
								<div class="post_footer">
									<div class="read_more">
										<a href="blog-details.html">See More</a>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>

		

		<div class="banner_2">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="banner_left">
							<div class="section_header">
								<h2 class="section_title">Safe food take out</h2>
								<h6 class="section_sub_title">We are open for anu order Online</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit
									tempor incididunt ut labore et dolore magna aliqua. Ut en
									ad minim veniam.
								</p>
							</div>
							<div class="contact_info">
								<div class="phone">
									<img src="../assets/images/phone2.png" alt="phone">
									<div><span>Call us to order online</span><br>+0888 . 1234 . 5699</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="banner_right">
							<img src="../assets/images/bg/banner_bg1.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="contact homestyle">
			<div class="gmap_wrapper">
				<div class="gmapbox">
					<div id="googleMap" class="map"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="contact_us">
									<div class="section_header">
										<h2 class="section_title">Keep in Touch</h2>
										<h6 class="section_sub_title">Send us mail if you have anything to suggest</h6>
									</div>
									<form class="contact_form" action="https://wpthemebooster.com/demo/themeforest/html/hungrybuzz/dark/contact.php" method="post">
										<div class="form-container">
											<div class="form-group">
												<input type="text" name="name" class="form-control" placeholder="Your Name*" required="">
											</div>
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="Your Email Address*" required="">
											</div>
											<div class="form-group">
												<textarea name="message" class="form-control" placeholder="Message Here*" required=""></textarea>
											</div>
											<div class="form-group">
												<input class="button" type="submit" value="Send" name="submit">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clients">
			<div class="client_item">
				<div class="client_imgbox">
					<img class="primary" src="../assets/images/clients/client_1_1.png" alt="">
					<img class="secondary" src="../assets/images/clients/client_1_2.png" alt="">
				</div>
			</div>
			<div class="client_item">
				<div class="client_imgbox">
					<img class="primary" src="../assets/images/clients/client_2_1.png" alt="">
					<img class="secondary" src="../assets/images/clients/client_2_2.png" alt="">
				</div>
			</div>
			<div class="client_item">
				<div class="client_imgbox">
					<img class="primary" src="../assets/images/clients/client_3_1.png" alt="">
					<img class="secondary" src="../assets/images/clients/client_3_2.png" alt="">
				</div>
			</div>
			<div class="client_item">
				<div class="client_imgbox">
					<img class="primary" src="../assets/images/clients/client_4_1.png" alt="">
					<img class="secondary" src="../assets/images/clients/client_4_2.png" alt="">
				</div>
			</div>
			<div class="client_item">
				<div class="client_imgbox">
					<img class="primary" src="../assets/images/clients/client_5_1.png" alt="">
					<img class="secondary" src="../assets/images/clients/client_5_2.png" alt="">
				</div>
			</div>
		</div>

	 </div>