
	<!-- Page Header -->
	<div class="page-header">
		<div class="page-header-content bg_image_header jarallax">
			<div class="container">
				<h1 class="heading">Our Menu</h1>
			</div>
		</div>
	</div>

	<div class="main-wrapper pt_0 pb_0">

		<div class="section_sm">
			<div class="container">
				<div class="section_header sm_padding">
					<img src="~/assets/images/title_border.png" alt="">
					<h2 class="section_title">Starter</h2>
					<h6 class="section_sub_title">Find your favourite meal from the delicious options we have</h6>
				</div>

				<div class="foodmenu_tab">
					<div class="foodmenu_tab_container with_photo">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/1.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Chicken Avocado Sandwitch</div>
											<div class="line"></div>
											<div class="price">$ 220</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/2.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Banana Nut Pancakes</div>
											<div class="line"></div>
											<div class="price">$ 180</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/3.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Swiss Hash Browns</div>
											<div class="line"></div>
											<div class="price">$ 110</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/4.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Perfect Scrambled Eggs</div>
											<div class="line"></div>
											<div class="price">$ 150</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/5.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Sesame Noodles with Garlic</div>
											<div class="line"></div>
											<div class="price">$ 130</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/6.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Beer-Cheeseburger</div>
											<div class="line"></div>
											<div class="price">$ 154</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/7.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Spaghetti carbonara</div>
											<div class="line"></div>
											<div class="price">$ 220</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/8.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Grilled Cheese Crostini</div>
											<div class="line"></div>
											<div class="price">$ 180</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/9.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Chicken Avocado Sandwitch</div>
											<div class="line"></div>
											<div class="price">$ 110</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/10.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Roasted Veggie Chips</div>
											<div class="line"></div>
											<div class="price">$ 150</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/11.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">One-Pot Beef with Broccoli</div>
											<div class="line"></div>
											<div class="price">$ 130</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/12.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Pesto Chicken Bake</div>
											<div class="line"></div>
											<div class="price">$ 154</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgimage_section_divider bg_image_16"></div>

		<div class="section_sm">
			<div class="container">
				<div class="section_header sm_padding">
					<img src="~/assets/images/title_border.png" alt="">
					<h2 class="section_title">Main Course</h2>
					<h6 class="section_sub_title">Find your favourite meal from the delicious options we have</h6>
				</div>

				<div class="foodmenu_tab">
					<div class="foodmenu_tab_container with_photo">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/1.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Chicken Avocado Sandwitch</div>
											<div class="line"></div>
											<div class="price">$ 220</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/2.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Banana Nut Pancakes</div>
											<div class="line"></div>
											<div class="price">$ 180</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/3.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Swiss Hash Browns</div>
											<div class="line"></div>
											<div class="price">$ 110</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/4.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Perfect Scrambled Eggs</div>
											<div class="line"></div>
											<div class="price">$ 150</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/5.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Sesame Noodles with Garlic</div>
											<div class="line"></div>
											<div class="price">$ 130</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/6.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Beer-Cheeseburger</div>
											<div class="line"></div>
											<div class="price">$ 154</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/7.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Spaghetti carbonara</div>
											<div class="line"></div>
											<div class="price">$ 220</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/8.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Grilled Cheese Crostini</div>
											<div class="line"></div>
											<div class="price">$ 180</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/9.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Chicken Avocado Sandwitch</div>
											<div class="line"></div>
											<div class="price">$ 110</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/10.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Roasted Veggie Chips</div>
											<div class="line"></div>
											<div class="price">$ 150</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/11.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">One-Pot Beef with Broccoli</div>
											<div class="line"></div>
											<div class="price">$ 130</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/12.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Pesto Chicken Bake</div>
											<div class="line"></div>
											<div class="price">$ 154</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgimage_section_divider bg_image_17 jarallax"></div>

		<div class="section_sm">
			<div class="container">
				<div class="section_header sm_padding">
					<img src="~/assets/images/title_border.png" alt="">
					<h2 class="section_title">Dessert</h2>
					<h6 class="section_sub_title">Find your favourite meal from the delicious options we have</h6>
				</div>

				<div class="foodmenu_tab">
					<div class="foodmenu_tab_container with_photo">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/13.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Chicken Avocado Sandwitch</div>
											<div class="line"></div>
											<div class="price">$ 220</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/14.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Banana Nut Pancakes</div>
											<div class="line"></div>
											<div class="price">$ 180</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/15.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Swiss Hash Browns</div>
											<div class="line"></div>
											<div class="price">$ 110</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/16.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Perfect Scrambled Eggs</div>
											<div class="line"></div>
											<div class="price">$ 150</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/17.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Sesame Noodles with Garlic</div>
											<div class="line"></div>
											<div class="price">$ 130</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/18.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Beer-Cheeseburger</div>
											<div class="line"></div>
											<div class="price">$ 154</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/19.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Spaghetti carbonara</div>
											<div class="line"></div>
											<div class="price">$ 220</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/20.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Grilled Cheese Crostini</div>
											<div class="line"></div>
											<div class="price">$ 180</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/21.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Chicken Avocado Sandwitch</div>
											<div class="line"></div>
											<div class="price">$ 110</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/22.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Roasted Veggie Chips</div>
											<div class="line"></div>
											<div class="price">$ 150</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/23.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">One-Pot Beef with Broccoli</div>
											<div class="line"></div>
											<div class="price">$ 130</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>

								<div class="foodmenu_tab_content">
									<div class="menu_serial"><img src="~/assets/images/menu/24.jpg" alt=""></div>
									<div class="menu_item">
										<div class="menu_item_inner">
											<div class="name">Pesto Chicken Bake</div>
											<div class="line"></div>
											<div class="price">$ 154</div>
										</div>
										<p>Lorem ipsum dolor sit amet consecturer duis</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgimage_section_divider bg_image_18"></div>

		<div class="banner_2">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="banner_left">
							<div class="section_header">
								<h2 class="section_title">Safe food take out</h2>
								<h6 class="section_sub_title">We are open for anu order Online</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit
									tempor incididunt ut labore et dolore magna aliqua. Ut en
									ad minim veniam.
								</p>
							</div>
							<div class="contact_info">
								<div class="phone">
									<img src="~/assets/images/phone2.png" alt="phone">
									<div><span>Call us to order online</span><br>+0888 . 1234 . 5699</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="banner_right">
							<img src="~/assets/images/bg/banner_bg1.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>