@model RestaurantsGroup

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Restaurant Group</h2>
            </div>
        </div>
    </div>
    <div class="card-body p4">
        <form method="post" class="user">
            <div class="border p-3 mt-4">
                <div class="form-group col-12">
                    <input asp-for="Name" disabled class="form-control" />
                    <label asp-for="Name" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="PhoneNumber" disabled class="form-control" />
                    <label asp-for="PhoneNumber" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="Address" disabled class="form-control" />
                    <label asp-for="Address" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="City" disabled class="form-control" />
                    <label asp-for="City" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="Country" disabled class="form-control" />
                    <label asp-for="Country" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="PostalCode" disabled class="form-control" />
                    <label asp-for="PostalCode" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="ZipCode" disabled class="form-control" />
                    <label asp-for="ZipCode" class="ms-2"></label>
                </div>
                <div class="form-group col-12">
                    <input asp-for="Map" disabled class="form-control" placeholder="Google Maps Link" />
                    <label asp-for="Map" class="ms-2"></label>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Restaurant" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>