@page
@model DeletePersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="border-0 mt-4 text-center">
    <div class="card-header m-lg-0 py-4">
        <div class="row">
            <div class="col-12">
                <h2 class="py-2 text-white text-center">Delete Personal Data</h2>
            </div>
        </div>
    </div>
    <div class="p-4 ">
        <div class="row">
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                </p>
            </div>
            <div class="col-md-12">
                <form class="mx-auto col-10 col-md-8 col-lg-6" id="delete-user" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    @if (Model.RequirePassword)
                    {
                        <div class="form_group mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                            <label asp-for="Input.Password" class="m-sm-2 text-muted"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    }
                    <div class="button_group">
                        <input id="update-profile-button" class="button w-100" type="submit" value="Delete data and close my account" name="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
