@page
@model DownloadPersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="border-0 mt-4 text-center">
    <div class="card-header m-lg-0 py-4">
        <div class="row">
            <div class="col-12">
                <h2 class="py-2 text-white text-center">Download Your Data</h2>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
