@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="border-0 mt-4 text-center">
    <div class="card-header m-lg-0 py-4">
        <div class="row">
            <div class="col-12">
                <h2 class="py-2 text-white text-center">Two-factor authentication (2FA)</h2>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
        </div>
    </div>
    <div class="p-4 ">
        <div class="row">
            <div class="col-md-12">
                @{
                    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();

                    @if (consentFeature?.CanTrack ?? true)
                    {
                        @if (Model.Is2faEnabled)
                        {
                            if (Model.RecoveryCodesLeft == 0)
                            {
                                <div class="alert alert-danger">
                                    <strong>You have no recovery codes left.</strong>
                                    <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                                </div>
                            }
                            else if (Model.RecoveryCodesLeft == 1)
                            {
                                <div class="alert alert-danger">
                                    <strong>You have 1 recovery code left.</strong>
                                    <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                                </div>
                            }
                            else if (Model.RecoveryCodesLeft <= 3)
                            {
                                <div class="alert alert-warning">
                                    <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                                    <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                                </div>
                            }

                            if (Model.IsMachineRemembered)
                            {
                                <form method="post" style="display: inline-block">
                                    <button type="submit" class="btn btn-primary">Forget this browser</button>
                                </form>
                            }

                            <div class="button_group">
                                <a asp-page="./Disable2fa" class="button w-100">Disable 2FA</a>
                            </div>
                            <div class="button_group">
                                <a asp-page="./GenerateRecoveryCodes" class="button w-100">Reset recovery codes</a>
                            </div>
                        }
                        <div class="col-12">
                            <h2 class="py-2 text-white text-center">Authenticator app</h2>
                        </div>
                        @if (!Model.HasAuthenticator)
                        {
                            <div class="button_group">
                                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="button w-100">Add authenticator app</a>
                            </div>
                        }
                        else
                        {
                            <div class="button_group">
                                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="button w-100">Set up authenticator app</a>
                            </div>
                            <div class="button_group">
                                <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="button w-100">Reset authenticator app</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Privacy and cookie policy have not been accepted.</strong>
                            <p>You must accept the policy before you can enable two factor authentication.</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
