@model TableReservationViewModel

<div class="container-fluid">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Model.TableReservation.Id != 0 ? "Update" : "Add") Table Reservation</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="user" enctype="multipart/form-data">
                <input asp-for="TableReservation.Id" hidden />
                <div class="row">
                    <div class="col-12">
                        <div class="border p-3 mt-4">
                            @*<div asp-validation-summary="All"></div>*@
                            <div class="form-group col-12">
                                <input asp-for="TableReservation.Name" class="form-control" />
                                <label asp-for="TableReservation.Name" class="ms-2"></label>
                                <span asp-validation-for="TableReservation.Name" class="text-bg-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <input asp-for="TableReservation.PhoneNumber" class="form-control" />
                                <label asp-for="TableReservation.PhoneNumber" class="ms-2"></label>
                                <span asp-validation-for="TableReservation.PhoneNumber" class="text-bg-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <input asp-for="TableReservation.NumberOfPeople" class="form-control" />
                                <label asp-for="TableReservation.NumberOfPeople" class="ms-2"></label>
                                <span asp-validation-for="TableReservation.NumberOfPeople" class="text-bg-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <input asp-for="TableReservation.ArrivalDateTime" class="form-control" />
                                <label asp-for="TableReservation.ArrivalDateTime" class="ms-2"></label>
                                <span asp-validation-for="TableReservation.ArrivalDateTime" class="text-bg-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <input asp-for="TableReservation.DepartureDateTime" class="form-control" />
                                <label asp-for="TableReservation.DepartureDateTime" class="ms-2"></label>
                                <span asp-validation-for="TableReservation.DepartureDateTime" class="text-bg-danger"></span>
                            </div>
                            @*IsActive*@
                            <div class="form-group col-12">
                                <select asp-for="TableReservation.Table" asp-items="@Model.TableList" class="form-control">
                                    <option disabled selected>--Select Table--</option>
                                </select>
                                <label asp-for="TableReservation.TableId" class="ms-2"></label>
                                <span asp-validation-for="TableReservation.TableId" class="text-bg-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-primary form-control">@(Model.TableReservation.Id != 0 ? "Update" : "Add")</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="TableReservation" asp-action="Index" class="btn btn-outline-primary border form-control">
                                        Back To List
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}