@model PostDetailViewModel

<div class="page-header">
	<div class="page-header-content bg_image_header jarallax">
		<div class="container">
			<h1 class="heading">Blog Details</h1>
		</div>
	</div>
</div>

<div class="main-wrapper">
	<div class="container">
		<div class="blog_details">
			<div class="post_img">
				<img src="@Model.Post.Image" alt="blog">
			</div>
			<div class="blog_details_inner">
				<div class="post_content">
					<div class="details_post_header">
						<div class="calendar">@Model.Post.Created.Date</div>
						<h3 class="post_title">@Model.Post.Title</h3>
					</div>
					<div class="fulltext first_para">
						<p>
							@Html.Raw(Model.Post.Body)
						</p>
					</div>
					<div class="post_footer">
						<div class="post_share">
							<ul class="share_list">
								<li>Share:</li>
								<li data-aos="fade-up" data-aos-duration="1000"><a href="#"><i class="bi bi-facebook"></i></a></li>
								<li data-aos="fade-up" data-aos-duration="2500"><a href="#"><i class="bi bi-instagram"></i></a></li>
								<li data-aos="fade-up" data-aos-duration="3000"><a href="#"><i class="bi bi-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>